body {
    background-color: #D5E1EF;                
}

h1 {
    color: #1F283A;    
    font-size: 25px;  
}

p {
    color: #AFB2B7
}

.conteudo {
    display: flex;    
    justify-content: center;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);        
    padding: 1rem;    
    position: absolute;        
    word-wrap: break-word;
    overflow: hidden;    
}

.card h1 {
  font-size: 1rem;  
}

.card p {
  font-size: 0.7rem;
}

.card h1, p {
    margin: 1rem;
    text-align: center;
}

.qrcode {
  border-radius: 10px;
  height: 70%;
  width: 100%;
}

@media screen and (min-width: 0) {

  .card {
    width: 80%;
    height: 70%;
    top: calc(50% - 35%);
  }
}

@media screen and (min-width: 768px) {

  .card {
    width: 20%;
    height: 55%;
    top: calc(50% - 27.5%);
  }
  
}